#fix-h2-fz {
	font-size:1.6em;
}

#fix-h2-fz-velo {
	font-size:1.4em;
}

.upfooter-text-content-fix {
	margin:0;
	padding:0;
	font-size:20px;
	padding-top: 10px;
}

.fix-txt-header {
	margin-top:-37px;
	color:#fff;
	text-align:center;
}
